body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fdfdfd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.card-img--height {
  height: 180px;
  object-fit: cover;
}

.invalid-feedback {
  display: block;
}

input.invalid {
  border-color: #dc3545;
}

$error: #dc3545;
$bg-color: #360094;
$yellow: #eeff00;

.invalid-feedback {
  display: block;
}

input.invalid {
  border-color: $error;
}

.login-btn {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  &:hover {
    color: $yellow;
  }
}

.clear-btn {
  background-color: rgba($bg-color, $alpha: 0.9);
  color: #fff;
  margin: 10px 0;
  width: 100%;
  font-weight: 600;
  &:hover {
    color: $yellow;
  }
}

.navbar {
  background-color: $bg-color;
  .nav-link {
    text-transform: uppercase;
    width: 77px;
    border: 4px solid $yellow;
    line-height: 1;
    padding: 12px 5px;
    margin-left: 10px;
    border-radius: 10px;
    span {
      font-size: 15px;
      font-weight: 800;
      color: $yellow;
    }
  }
}
.card {
  box-shadow: 5px 5px 10px rgba(54, 0, 148, 0.5);
  img {
    width: 185px;
    height: 278px;
  }
}
.card-movie {
  display: flex;
  padding: 0;
  &_description {
    padding: 10px 15px;
    position: relative;
  }
}
.card-movie_icons {
  display: flex;
  align-items: center;
}
.mark-favorite,
.mark-watch {
  cursor: pointer;
}
.card-movie_name {
  display: block;
  color: black;
  text-decoration: none;
  text-align: center;
  padding: 30px 0;
  font-size: 20px;
  font-weight: 700;
  font-family: cursive;
  &:hover {
    text-decoration: none;
    color: rgba(black, $alpha: 0.7);
  }
}
.card-movie_details {
  position: absolute;
  width: 100%;
  border-top: 1px solid rgba(black, $alpha: 0.1);
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  color: black;
  a {
    text-decoration: none;
    color: black;
    &:hover {
      text-decoration: none;
      color: rgba(black, $alpha: 0.7);
    }
  }
}
.CircularProgressbar {
  width: 30%;
  margin-right: 20px;
}
.mark-favorite {
  margin-right: 15px;
}
.movie-overview {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 50px 0 100px 0;
  z-index: 1;
  color: $yellow;
  img {
    width: 300px;
    height: 450px;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba($bg-color, $alpha: 0.3);
  }
}
.movie-overwiew_mark {
  .CircularProgressbar {
    width: 90px;
  }
}

.movie-tabs {
  &_item {
    font-weight: 600;
    a {
      color: black;
      &:hover {
        color: rgba($bg-color, $alpha: 0.6);
      }
    }
  }
}
.movie-actors {
  position: relative;
  &_item {
    margin: 15px 0;
    img {
      width: 100%;
      min-height: 311.25px;
    }
  }
  &_name {
    color: #fff;
    left: 15px;
    display: block;
    position: absolute;
    bottom: 0;
    background: rgba($bg-color, $alpha: 0.3);
    width: calc(100% - 30px);
    padding: 5px 10px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
.filters {
  &_title {
    font-size: 25px;
    font-weight: 700;
  }
  &_form {
    .form-group {
      label {
        font-weight: 600;
      }
      .form-control {
        padding: 0.375rem 0.2rem;
      }
    }
  }
}
.genres {
  .form-check {
    padding: 2px 0;
  }
  &_choice {
    margin: 10px 0;
    font-weight: 600;
  }
}
.btn-pagination {
  display: flex;
  margin: 10px 0;
  button {
    width: 50%;
    color: #fff;
    background-color: $bg-color;
    font-weight: 600;
    &:hover {
      background-color: $bg-color;
      color: $yellow;
    }
  }
}
.page-pagination {
  text-align: center;
  font-size: 16px;
}

.modal-dialog {
  width: 400px;
  .form-login {
    label {
      font-weight: 600;
    }
  }
  .btn {
    background-color: $bg-color;
    color: #fff;
    &:hover {
      color: $yellow;
    }
  }
}

//checkbox

.form-check input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-check label {
  position: relative;
  cursor: pointer;
}

.form-check label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 1.5px solid rgba($bg-color, 0.4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.form-check input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 7px;
  width: 6px;
  height: 14px;
  border: solid $bg-color;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
